html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

body{
  font-family: 'Convergence', sans-serif;
  background: #16222A;
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);
  background: linear-gradient(to right, #3A6073, #16222A);
}

h2 {
  color: #dedede;
  margin-bottom: 1rem;
}

blockquote {
  color: #dedede;
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px){
  .grid-1-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    gap: 2rem
  }
}